nav {
  background-color: transparent;
  box-shadow: none;
}

.home-page {
  background: url('../images/book.jpg');
  height: 95vh;
  background-size: cover;
}

.fa {
  margin-right: 15px;
}

.falink:hover {
  cursor: pointer;
  color: grey;
}

.app-info {
  padding-top: 50px;
}
